<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>qNVAnarxO+uDhxwWa9P10RKD/2IQHSOSjusfIymfj47erhbFBmsHzHi0igrNX7TT4bQTH9fuC2nJnx3wskyR/UYh3bu8E69bMZjlUlpC6kFMJaP/BKTrkN3f5EN+p0S5w6e4Vtk7ESp8f8B774ybgLZ1gC0IKLzIMAmXnXIBYnpG2KHpNCpCD1SOtHKQTxVPLvUFt19FsMlnzyBtp5EjWUZ1LNYfUb3cA7/Var5fgww6dDjZN8pWdSlkN1nQYjGfRWOHAbziMzSyvWAS04OwZqXap3aq4CC7FH8lmIiS5dgYcF9EsVJ0UoKqAHhBViiYwrlE2gJoLtBIETPQEXfBkg==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>G97h/S/ff3T+0pRzmBa5FVK1wFbWEaxTJ7GBCu/mkawMDYXhRsAlx0rC87YYIdnA3aDJC09aPsuMIYsFuYHGuds1LV1fa5jHppwLmKC4qlD1NfATJ+YmiY+qF9Oy0prdHygtfmNYIEAzD7t6MRPIBSdf2RPKSkNjkG6CYY3tnSVved7sfPYbkFfqdr+3qEtC9lTUEyIXI1QPAPy1qIhGALI4IJRcYuurF7FrcuaJsTenxaJE0a1DuFp85ccT1QZVm3oXodgIqLoMdsfjDY3kouScB0zbrr2HDUb3ujEBE1mpzGm3dyxv9jS1CMuXo/kg2B6T5WJVEvZRtuqQplrjvfmg8RAk8hjcIxI+rmLMD4S7umNGfC+kvBu8XfnFzXT+Bq7Sn9R7bWw2fccOKnkz0CeOp85S4mEYCRNgFa908hbtQD1G7W/JfWNS/E29aiv4AiRpfRzj5AB4UfZKLHMG3Y6UwBkn/Zeqx2jE7GNvXKAzjo9u3RsPwXiS8zKzHZa+qI8I9KLQTUnBnh84u1z33w==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="RCWebAppService.ES_Interface.ESUtilities" behaviorConfiguration="MEX">
        <endpoint address="net.pipe://localhost/RCWebAppService.ES_Interface.ESUtilities" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IESUtilities" contract="RCWebAppService.ES_Interface.IESUtilities">
          <identity>
            <servicePrincipalName value="ESUtilities\NamedPipe" />
          </identity>
        </endpoint>
        <endpoint address="net.pipe://localhost/RCWebAppService.ES_Interface.ESUtilities/mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
      </service>
      <service name="RCWebAppService.AppPoolInterface.AppPoolService" behaviorConfiguration="MEX">
        <endpoint address="net.pipe://localhost/RCWebAppService.AppPoolInterface.AppPoolService" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IAppPoolService" contract="RCWebAppService.AppPoolInterface.IAppPoolService">
          <identity>
            <servicePrincipalName value="AppPoolService\NamedPipe" />
          </identity>
        </endpoint>
        <endpoint address="net.pipe://localhost/RCWebAppService.AppPoolInterface.AppPoolService/mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
      </service>
      <service name="RCWebAppService.DescriptorManager.DescriptorManager" behaviorConfiguration="MEX">
        <endpoint address="net.pipe://localhost/RCWebAppService.DescriptorManager.DescriptorManager" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IDescriptorManager" contract="RCWebAppService.DescriptorManager.IDescriptorManager">
          <identity>
            <servicePrincipalName value="DescriptorManager\NamedPipe" />
          </identity>
        </endpoint>
        <endpoint address="net.pipe://localhost/RCWebAppService.DescriptorManager.DescriptorManager/mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IAppPoolService">
          <security mode="None"></security>
        </binding>
        <binding name="NetNamedPipeBinding_IESUtilities">
          <security mode="None"></security>
        </binding>
        <binding name="NetNamedPipeBinding_IDescriptorManager">
          <security mode="None"></security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MEX">
          <serviceMetadata httpGetEnabled="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <generatePublisherEvidence enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>