<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>ijmqAtkgdbYfLTJTZQrGQxroXGK9NePOzsdWhs99P+90RB6/vEgYJ2hk4CpG8WMH9iBlvz58IcozmlPN20BsAkXVp56yIaiRu+NHvctS0UciJvPQ6Vfm5iTTtDs7+yeAET1/A7ZGUEDfQ2hldKOw/oV16Zu2fORnMe7Q/JHDxORCIqXJ8fBSePCbEUDA38yUFaCMVCkf3KEHsxvUXSOZHdVPXhw3QHDyN4P2QnRXMJag3UOD0lBsX8v4mL7ugDyKPFzqSuY4pbMJJE7RFTjceSrVmkL9FSS5/bDUZG9R4NcPdME9rFwDqYXHYMwTe5rJuIwbZik/JmnrdDbSPBpS/Q==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>7OXqEUvxRR1DVeEq/u+dDmLING0H/vLbi2WVQ34+BJJ9D4LqkhY/0j6yE8lQQHx+gj5hK0A0QKheCtXtbqjXYZj611X4E1P/6tG1eppfeTWcPdkhIRvpjpa09e0P3HeHDJL0eJ7zFgRmHW21HA5b4Rp8iJcEat4AGLEv5FyLwcXp2zQDqnrUFSJB0w/kpNo/tlR92SWzkXqY6kB/A/WPaekDHwRXZMWgvwqgbquLJXKqdhrXK1ti+iXpgrFQ6rqHmeKoZRinfwZ9TE0tyE11ZBefadGPgWiS7w4Q8gDbIZ8989KCuOmMV0EW9VnsxR7huiawDmvj5BxijgG5KDa5lAU0qEir2Iz0HB6VINpAOLO9qog3640zEjcD2H1HwQcI</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IDescriptorManager">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/RCWebAppService.DescriptorManager.DescriptorManager"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IDescriptorManager"
        contract="DescriptorManager.IDescriptorManager" name="NetNamedPipeBinding_IDescriptorManager">
        <identity>
          <servicePrincipalName value="DescriptorManager\NamedPipe" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
