<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>RC-WebView 3rd Party Licenses</title>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" media="screen,projection" type="text/css" title="currentTheme" href="@Href("~/144064/rc/themes/rcblack/rcblack.css")" />
    <link rel="stylesheet" media="screen,projection" type="text/css" href="@Href("~/144064/webview/themes/rcblack/rcblack.css")" />

    <style type="text/css">
        body.rc {
            display: flex;
            justify-content: space-around;
            overflow: auto;
        }

        .rc a {
            color: #0000EE;
        }

            .rc a:visited {
                color: #551A8B;
            }

        #licences {
            background-color: white;
            color: black;
            padding: 1em;
        }
    </style>
</head>
<body class="rc">
    <div id="licences" style="background-color: white; color: black;">
        <p>
            ACE Editor - <a href="https://ace.c9.io/" target="_blank">https://ace.c9.io/</a>
            <br />
            <a href="https://github.com/ajaxorg/ace/blob/v1.2.8/LICENSE" target="_blank">https://github.com/ajaxorg/ace/blob/v1.2.8/LICENSE</a>
        </p>
        <hr />
        <p>
            dgrid - <a href="http://dgrid.io/" target="_blank">http://dgrid.io/</a>
            <br />
            <a href="https://github.com/SitePen/dgrid/blob/dev-0.3/LICENSE" target="_blank">https://github.com/SitePen/dgrid/blob/dev-0.3/LICENSE</a>
        </p>
        <hr />
        <p>
            Dojo Toolkit - <a href="https://dojotoolkit.org/" target="_blank">https://dojotoolkit.org/</a>
            <br />
            <a href="https://dojotoolkit.org/license.html" target="_blank">https://dojotoolkit.org/license.html</a>
        </p>
        <hr />
        <p>
            Fusion Charts - <a href="https://www.fusioncharts.com/" target="_blank">https://www.fusioncharts.com/</a>
            <br />
            <a href="https://www.fusioncharts.com/buy/eula-perpetual" target="_blank">https://www.fusioncharts.com/buy/eula-perpetual</a>
        </p>
        <hr />
        <p>
            libgif-js - <a href="https://github.com/buzzfeed/libgif-js" target="_blank">https://github.com/buzzfeed/libgif-js</a>
            <br />
            <a href="https://github.com/buzzfeed/libgif-js/blob/master/LICENSE" target="_blank">https://github.com/buzzfeed/libgif-js/blob/master/LICENSE</a>
        </p>
        <p>
            SequentialGuid - <a href="https://github.com/buvinghausen/SequentialGuid" target="_blank">https://github.com/buvinghausen/SequentialGuid</a>
            <br />
            <a href="https://github.com/buvinghausen/SequentialGuid/blob/master/LICENSE.txt" target="_blank">https://github.com/buvinghausen/SequentialGuid/blob/master/LICENSE.txt</a>
        </p>
    </div>
</body>
</html>