<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>d1Bo3A1+slHhqg/IVIMlVS4gcNdd/xXEXP8SR64wp4Qk3exqehOZC9+pDdwioiyiiZBQX/TjT573QHGbLJ6ZQ2S9c4wDqDECTPtUEhkTZ+sMjEwv57U4IWn3YCx1Ft68bqAWcaQ1vIGovF+ZxQJImDaCVzI/+fbjeW/cxJP+C3Oq79NdBCmcr4hP9BnQUM+ZvAuYJ9ahq/YhwxVg1SP42xSZou1UoBcBvNfJZk7WhnINmG0noUDEfUEC23d0uk05SBkdOe+36RZeA/Z5LYpFrGRjmBA3FeXR8dsPXLjqI+nvXm7okFbQrSW3WtyA6rbWWH4owD1A9vE3Ve97Nc+Rug==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>3ByFQ5mgJEHK0LzWdEUxygcnmeRTwi4Lrw0XVEqbXfoaoKVwspBUXFAbiufr2FYYqg4w5zWNG0qixPVz3+7TZWrIPUyIpHenW04IugnIpW91ViCPIBMLZ+ZgrwEVIraJXX5XROZH3ytsQYalDGfRARhmhXqTqFqn/MPPUNsBdeqWHXgW3tf76gqsuS6mZoo73kiSAgRld6JaP0G2SRkf2RY1wyR4tqyAMbQ8vsvuzhPPfRNivXffkCNd2Hle2yWKYS26I3BmGyTwadvnAAaiiglBXGSQZmeDNAVQIG7LaLXKSczCleGjVhUXwVpPimIDvKTlR6Q94yU3uxL5xHI5osdKGN+ZMKGkMXAFi76V3W6zMeDzF/3dXPV+CWctsndY9e7dvt0FPsJh26ZuuXexbcpeE6vUtDBb8yW6yWaeYloD1uxUbmeXBLFyIwyUa7+WAmC50C1QI60NqROThModSN/5NX6JFvfelg3PadHYc9y3Vh3zFb+SNNLeMYK7Q8YmcT/HgGdOMPsPvE59prjKYA==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ServerID" value="http://127.0.0.1" />
    <add key="SiteName" value="WTest" />
    <add key="ConfigFile" value="C:\ProgramData\Reliable Controls\RC-WebView\config.xml" />
  </appSettings>
  <location path="Admin/Uploader">
    <!-- Default uploader size 16MB -->
    <system.web>
      <httpRuntime maxRequestLength="16384" />
    </system.web>
    <system.webServer>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <remove name="WebDAV" />
        <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
        <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
        <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="AdminLinksHandler32" path="data/adminlinks.json" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
        <add name="AdminLinksHandler64" path="data/adminlinks.json" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
        <add name="AdminLinksHandler32-Integrated-4.0" path="data/adminlinks.json" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      </handlers>
    </system.webServer>
  </location>
  <location path="Admin/Uploader/HelpFile">
    <system.web>
      <httpRuntime maxRequestLength="16384" />
    </system.web>
  </location>
  <location path="Admin/Uploader/NavIcon">
    <system.web>
      <httpRuntime maxRequestLength="16384" />
    </system.web>
  </location>
  <location path="Admin/Uploader/NavGroup">
    <system.web>
      <httpRuntime maxRequestLength="25600" />
    </system.web>
  </location>
  <system.web>
    <sessionState mode="StateServer" cookieName="ASP.NET_RCWebView_SessionId" stateConnectionString="tcpip=127.0.0.1:42424" />
    <compilation debug="false" targetFramework="4.8">
      <assemblies>
        <add assembly="netstandard, Version = 2.0.0.0, Culture = neutral, PublicKeyToken = cc7b13ffcd2ddd51" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index" defaultUrl="~/Index/Index" slidingExpiration="false" name="RCWebView_AUTH" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <remove name="WebDAV" />
        <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
        <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
        <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="DataHandler32" path="data/fileInfo.xml" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
        <add name="DataHandler64" path="data/fileInfo.xml" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
        <add name="DataHandler32-Integrated-4.0" path="data/fileInfo.xml" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="JobHandler32" path="job/*" verb="GET" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
        <add name="JobHandler64" path="job/*" verb="GET" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
        <add name="JobHandler32-Integrated-4.0" path="job/*" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="LinksHandler32" path="data/links.json" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
        <add name="LinksHandler64" path="data/links.json" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
        <add name="AdminLinksHandler32" path="data/adminlinks.json" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
        <add name="AdminLinksHandler64" path="data/adminlinks.json" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
        <add name="LinksHandler32-Integrated-4.0" path="data/links.json" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="AdminLinksHandler32-Integrated-4.0" path="data/adminlinks.json" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="AuditHandler32" path="logs/audit.log" verb="GET" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
        <add name="AuditHandler64" path="logs/audit.log" verb="GET" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
        <add name="AuditHandler32-Integrated-4.0" path="logs/audit.log" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="HTMLAnimationHandler32" path="HTMLAnimation/*" verb="GET" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
        <add name="HTMLAnimationHandler64" path="HTMLAnimation/*" verb="GET" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
        <add name="HTMLAnimationHandler-Integrated-4.0" path="HTMLAnimation/*" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      </handlers>
      <defaultDocument enabled="false">
        <files>
          <remove value="default.aspx" />
          <remove value="iisstart.htm" />
          <remove value="index.htm" />
          <remove value="Default.asp" />
          <remove value="Default.htm" />
        </files>
      </defaultDocument>
    </system.webServer>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IESUtilities">
          <security mode="None" />
        </binding>
        <binding name="NetNamedPipeBinding_IAppPoolService">
          <security mode="None" />
        </binding>
        <binding name="NetNamedPipeBinding_IDescriptorManager">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/RCWebAppService.ES_Interface.ESUtilities" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IESUtilities" contract="RCWebAppService.IESUtilities" name="NetNamedPipeBinding_IESUtilities">
        <identity>
          <servicePrincipalName value="ESUtilities\NamedPipe" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/RCWebAppService.AppPoolInterface.AppPoolService" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IAppPoolService" contract="AppPoolService.IAppPoolService" name="NetNamedPipeBinding_IAppPoolService">
        <identity>
          <servicePrincipalName value="AppPoolService\NamedPipe" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/RCWebAppService.DescriptorManager.DescriptorManager" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IDescriptorManager" contract="DescriptorManager.IDescriptorManager" name="NetNamedPipeBinding_IDescriptorManager">
        <identity>
          <servicePrincipalName value="DescriptorManager\NamedPipe" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".odt" />
      <mimeMap fileExtension=".odt" mimeType="application/vnd.oasis.opendocument.text" />
    </staticContent>
  </system.webServer>
</configuration>