<!--************************************-->
<!-- Helper view to trigger a SAML Post -->
<!--************************************-->

@{
    ViewBag.Title = "DoPost";
}

<h2>DoPost</h2>

<form enctype="multipart/form-data" name="test" method="post"  action="http://localhost:801/WebView/WTest/LoginService">
        <div> 
            <input type="submit" value="OK" />  
        </div>        
</form>