/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		page-break-before: avoid;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}
}

mcTableStyle
{
	name: Basic;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #a9a9a9;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #a9a9a9;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	max-id: 8;
	cell-padding-left: 3px;
	cell-padding-right: 3px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
	page-break-before: avoid;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-left: 20px;
	margin-top: 6px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #708090;
	name: Header1;
	id: 2;
	background-color: #a9a9a9;
	text-align: center;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	name: Body1;
	id: 1;
	cell-padding-left: 3px;
	cell-padding-right: 3px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
	cell-content-style-tag: p;
}

mcTableBodyStyle
{
	span: 1;
	id: 8;
	name: Body2;
	type: Manual;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-Basic
	{
		page-break-before: avoid;
		border-spacing: 0px 0px;
	}
}

.TableStyle-Basic
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #a9a9a9;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #a9a9a9;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #a9a9a9;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a9a9a9;
	border-bottom-width: 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-left: 20px;
	margin-top: 6px;
	page-break-before: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-Basic-Column-Column1
{
	
}

.TableStyle-Basic-Head-Header1
{
	
}

.TableStyle-Basic-HeadI-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: center;
	background-color: #a9a9a9;
}

.TableStyle-Basic-HeadI-Column1-Header1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Basic-HeadE-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: center;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #708090;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadE-Column1-Header1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Basic-HeadF-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: center;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #708090;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadF-Column1-Header1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Basic-HeadH-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: center;
	background-color: #a9a9a9;
}

.TableStyle-Basic-HeadH-Column1-Header1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Basic-HeadD-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: center;
	background-color: #a9a9a9;
	border-bottom-width: 1px;
	border-bottom-color: #708090;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadD-Column1-Header1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Basic-HeadC-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: center;
	background-color: #a9a9a9;
}

.TableStyle-Basic-HeadC-Column1-Header1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Basic-HeadB-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: center;
	background-color: #a9a9a9;
}

.TableStyle-Basic-HeadB-Column1-Header1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Basic-HeadA-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: center;
	background-color: #a9a9a9;
}

.TableStyle-Basic-HeadA-Column1-Header1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Basic-HeadG-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: center;
	background-color: #a9a9a9;
}

.TableStyle-Basic-HeadG-Column1-Header1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Basic-FootI-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Basic-FootI-Column1- p
{
	
}

.TableStyle-Basic-FootE-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-FootE-Column1- p
{
	
}

.TableStyle-Basic-FootF-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Basic-FootF-Column1- p
{
	
}

.TableStyle-Basic-FootH-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-FootH-Column1- p
{
	
}

.TableStyle-Basic-FootD-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Basic-FootD-Column1- p
{
	
}

.TableStyle-Basic-FootC-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Basic-FootC-Column1- p
{
	
}

.TableStyle-Basic-FootB-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-FootB-Column1- p
{
	
}

.TableStyle-Basic-FootA-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Basic-FootA-Column1- p
{
	
}

.TableStyle-Basic-FootG-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Basic-FootG-Column1- p
{
	
}

.TableStyle-Basic-Body-Body1
{
	
}

.TableStyle-Basic-BodyI-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Basic-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Basic-BodyE-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Basic-BodyF-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Basic-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Basic-BodyH-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Basic-BodyD-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Basic-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Basic-BodyC-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Basic-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Basic-BodyB-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Basic-BodyA-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Basic-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Basic-BodyG-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Basic-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Basic-Body-Body2
{
	
}

.TableStyle-Basic-BodyI-Column1-Body2
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Basic-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Basic-BodyE-Column1-Body2
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Basic-BodyF-Column1-Body2
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Basic-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Basic-BodyH-Column1-Body2
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Basic-BodyD-Column1-Body2
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Basic-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Basic-BodyC-Column1-Body2
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Basic-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Basic-BodyB-Column1-Body2
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Basic-BodyA-Column1-Body2
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Basic-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Basic-BodyG-Column1-Body2
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Basic-BodyG-Column1-Body2 p
{
	
}


