/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		margin-left: 0px;
		margin-top: 8pt;
		margin-bottom: 10pt;
		border-left-style: solid;
		border-left-width: 1px;
		border-left-color: #c0c0c0;
		border-right-style: solid;
		border-right-width: 1px;
		border-right-color: #c0c0c0;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #c0c0c0;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #c0c0c0;
	}

	mcTableColumnStyle
	{
		separator-style: solid;
		separator-width: 1.5px;
		separator-color: #c0c0c0;
		ruler-style: solid;
		ruler-width: 1px;
		ruler-color: #d3d3d3;
	}

	mcTableHeadStyle
	{
		separator-style: solid;
		separator-width: 0.5px;
		separator-color: #c0c0c0;
		background-color: #dcdcdc;
		color: #2b2b2b;
		font-weight: normal;
	}

	mcTableBodyStyle
	{
		separator-style: solid;
		separator-width: 1px;
		separator-color: #c0c0c0;
	}

	mcTableFootStyle
	{
		separator-style: solid;
		separator-width: 0.5px;
		separator-color: #c0c0c0;
		background-color: #dcdcdc;
	}
}

mcTableStyle
{
	border-collapse: separate;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: GreyWhite;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	max-id: 11;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	overflow: hidden;
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 25px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #d3d3d3;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	mc-hide-bottom-ruling: false;
	background-color: #dcdcdc;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1.5px;
	separator-color: #dcdcdc;
	name: Regular;
	id: 0;
	font-weight: normal;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #dcdcdc;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1.5px;
	background-color: #f5f5f5;
	name: Header1;
	id: 2;
	text-align: left;
	color: #2b2b2b;
	font-weight: normal;
	separator-color: #dcdcdc;
}

mcTableBodyStyle
{
	span: 1;
	id: 10;
	name: Row1;
	separator-style: solid;
	separator-width: 1.5px;
	separator-color: #dcdcdc;
	color: #2b2a2a;
	font-weight: normal;
	background-color: #ffffff;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-widte: 1px;
	separator-color: #dcdcdc;
	name: Footer1;
	id: 3;
	separator-width: 1.5px;
	color: #2b2a2a;
	font-weight: normal;
	background-color: #f5f5f5;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-GreyWhite
	{
		border-left-style: solid;
		border-left-color: #c0c0c0;
		border-left-width: 1px;
		border-right-style: solid;
		border-right-color: #c0c0c0;
		border-right-width: 1px;
		border-top-style: solid;
		border-top-color: #c0c0c0;
		border-top-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #c0c0c0;
		border-bottom-width: 1px;
		margin-left: 0px;
		margin-top: 8pt;
		margin-bottom: 10pt;
		border-spacing: 0px 0px;
	}

	.TableStyle-GreyWhite-HeadI-Regular-Header1
	{
		border-right-width: 1px;
		border-right-color: #d3d3d3;
		border-right-style: solid;
		color: #2b2b2b;
		font-weight: normal;
		background-color: #dcdcdc;
	}

	.TableStyle-GreyWhite-HeadI-Regular-Header1 p
	{
		color: #2b2b2b;
		font-weight: normal;
	}

	.TableStyle-GreyWhite-HeadE-Regular-Header1
	{
		border-right-width: 1.5px;
		border-right-color: #c0c0c0;
		border-right-style: solid;
		color: #2b2b2b;
		font-weight: normal;
		background-color: #dcdcdc;
		border-bottom-width: 0.5px;
		border-bottom-color: #c0c0c0;
		border-bottom-style: solid;
	}

	.TableStyle-GreyWhite-HeadE-Regular-Header1 p
	{
		color: #2b2b2b;
		font-weight: normal;
	}

	.TableStyle-GreyWhite-HeadF-Regular-Header1
	{
		border-right-width: 1px;
		border-right-color: #d3d3d3;
		border-right-style: solid;
		color: #2b2b2b;
		font-weight: normal;
		background-color: #dcdcdc;
		border-bottom-width: 0.5px;
		border-bottom-color: #c0c0c0;
		border-bottom-style: solid;
	}

	.TableStyle-GreyWhite-HeadF-Regular-Header1 p
	{
		color: #2b2b2b;
		font-weight: normal;
	}

	.TableStyle-GreyWhite-HeadH-Regular-Header1
	{
		border-right-width: 1.5px;
		border-right-color: #c0c0c0;
		border-right-style: solid;
		color: #2b2b2b;
		font-weight: normal;
		background-color: #dcdcdc;
	}

	.TableStyle-GreyWhite-HeadH-Regular-Header1 p
	{
		color: #2b2b2b;
		font-weight: normal;
	}

	.TableStyle-GreyWhite-HeadD-Regular-Header1
	{
		color: #2b2b2b;
		font-weight: normal;
		background-color: #dcdcdc;
		border-bottom-width: 0.5px;
		border-bottom-color: #c0c0c0;
		border-bottom-style: solid;
	}

	.TableStyle-GreyWhite-HeadD-Regular-Header1 p
	{
		color: #2b2b2b;
		font-weight: normal;
	}

	.TableStyle-GreyWhite-HeadC-Regular-Header1
	{
		border-right-width: 1px;
		border-right-color: #d3d3d3;
		border-right-style: solid;
		color: #2b2b2b;
		font-weight: normal;
		background-color: #dcdcdc;
	}

	.TableStyle-GreyWhite-HeadC-Regular-Header1 p
	{
		color: #2b2b2b;
		font-weight: normal;
	}

	.TableStyle-GreyWhite-HeadB-Regular-Header1
	{
		border-right-width: 1.5px;
		border-right-color: #c0c0c0;
		border-right-style: solid;
		color: #2b2b2b;
		font-weight: normal;
		background-color: #dcdcdc;
	}

	.TableStyle-GreyWhite-HeadB-Regular-Header1 p
	{
		color: #2b2b2b;
		font-weight: normal;
	}

	.TableStyle-GreyWhite-HeadA-Regular-Header1
	{
		color: #2b2b2b;
		font-weight: normal;
		background-color: #dcdcdc;
	}

	.TableStyle-GreyWhite-HeadA-Regular-Header1 p
	{
		color: #2b2b2b;
		font-weight: normal;
	}

	.TableStyle-GreyWhite-HeadG-Regular-Header1
	{
		color: #2b2b2b;
		font-weight: normal;
		background-color: #dcdcdc;
	}

	.TableStyle-GreyWhite-HeadG-Regular-Header1 p
	{
		color: #2b2b2b;
		font-weight: normal;
	}

	.TableStyle-GreyWhite-FootI-Regular-Footer1
	{
		border-right-width: 1px;
		border-right-color: #d3d3d3;
		border-right-style: solid;
		background-color: #dcdcdc;
	}

	.TableStyle-GreyWhite-FootE-Regular-Footer1
	{
		border-right-width: 1.5px;
		border-right-color: #c0c0c0;
		border-right-style: solid;
		background-color: #dcdcdc;
		border-top-width: 0.5px;
		border-top-color: #c0c0c0;
		border-top-style: solid;
	}

	.TableStyle-GreyWhite-FootF-Regular-Footer1
	{
		border-right-width: 1px;
		border-right-color: #d3d3d3;
		border-right-style: solid;
		background-color: #dcdcdc;
		border-top-width: 0.5px;
		border-top-color: #c0c0c0;
		border-top-style: solid;
	}

	.TableStyle-GreyWhite-FootH-Regular-Footer1
	{
		border-right-width: 1.5px;
		border-right-color: #c0c0c0;
		border-right-style: solid;
		background-color: #dcdcdc;
	}

	.TableStyle-GreyWhite-FootD-Regular-Footer1
	{
		background-color: #dcdcdc;
		border-top-width: 0.5px;
		border-top-color: #c0c0c0;
		border-top-style: solid;
	}

	.TableStyle-GreyWhite-FootC-Regular-Footer1
	{
		border-right-width: 1px;
		border-right-color: #d3d3d3;
		border-right-style: solid;
		background-color: #dcdcdc;
	}

	.TableStyle-GreyWhite-FootB-Regular-Footer1
	{
		border-right-width: 1.5px;
		border-right-color: #c0c0c0;
		border-right-style: solid;
		background-color: #dcdcdc;
	}

	.TableStyle-GreyWhite-FootA-Regular-Footer1
	{
		background-color: #dcdcdc;
	}

	.TableStyle-GreyWhite-FootG-Regular-Footer1
	{
		background-color: #dcdcdc;
	}

	.TableStyle-GreyWhite-BodyI-Regular-Row1
	{
		border-right-width: 1px;
		border-right-color: #d3d3d3;
		border-right-style: solid;
	}

	.TableStyle-GreyWhite-BodyE-Regular-Row1
	{
		border-bottom-width: 1px;
		border-bottom-color: #c0c0c0;
		border-bottom-style: solid;
		border-right-width: 1.5px;
		border-right-color: #c0c0c0;
		border-right-style: solid;
	}

	.TableStyle-GreyWhite-BodyF-Regular-Row1
	{
		border-bottom-width: 1px;
		border-bottom-color: #c0c0c0;
		border-bottom-style: solid;
		border-right-width: 1px;
		border-right-color: #d3d3d3;
		border-right-style: solid;
	}

	.TableStyle-GreyWhite-BodyH-Regular-Row1
	{
		border-right-width: 1.5px;
		border-right-color: #c0c0c0;
		border-right-style: solid;
	}

	.TableStyle-GreyWhite-BodyD-Regular-Row1
	{
		border-bottom-width: 1px;
		border-bottom-color: #c0c0c0;
		border-bottom-style: solid;
	}

	.TableStyle-GreyWhite-BodyC-Regular-Row1
	{
		border-right-width: 1px;
		border-right-color: #d3d3d3;
		border-right-style: solid;
	}

	.TableStyle-GreyWhite-BodyB-Regular-Row1
	{
		border-right-width: 1.5px;
		border-right-color: #c0c0c0;
		border-right-style: solid;
	}
}

.TableStyle-GreyWhite
{
	border-collapse: separate;
	mc-hide-bottom-ruling: false;
	overflow: hidden;
	background-color: #dcdcdc;
	border-left-style: solid;
	border-left-color: #d3d3d3;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #d3d3d3;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #d3d3d3;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d3d3d3;
	border-bottom-width: 1px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 25px;
	border-spacing: 0px 0px;
}

.TableStyle-GreyWhite-Column-Regular
{
	
}

.TableStyle-GreyWhite-Head-Header1
{
	
}

.TableStyle-GreyWhite-HeadI-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #2b2b2b;
	font-weight: normal;
	text-align: left;
	background-color: #f5f5f5;
}

.TableStyle-GreyWhite-HeadI-Regular-Header1 p
{
	color: #2b2b2b;
	font-weight: normal;
}

.TableStyle-GreyWhite-HeadE-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1.5px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #2b2b2b;
	font-weight: normal;
	text-align: left;
	background-color: #f5f5f5;
	border-bottom-width: 1.5px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-GreyWhite-HeadE-Regular-Header1 p
{
	color: #2b2b2b;
	font-weight: normal;
}

.TableStyle-GreyWhite-HeadF-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #2b2b2b;
	font-weight: normal;
	text-align: left;
	background-color: #f5f5f5;
	border-bottom-width: 1.5px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-GreyWhite-HeadF-Regular-Header1 p
{
	color: #2b2b2b;
	font-weight: normal;
}

.TableStyle-GreyWhite-HeadH-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1.5px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #2b2b2b;
	font-weight: normal;
	text-align: left;
	background-color: #f5f5f5;
}

.TableStyle-GreyWhite-HeadH-Regular-Header1 p
{
	color: #2b2b2b;
	font-weight: normal;
}

.TableStyle-GreyWhite-HeadD-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #2b2b2b;
	font-weight: normal;
	text-align: left;
	background-color: #f5f5f5;
	border-bottom-width: 1.5px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-GreyWhite-HeadD-Regular-Header1 p
{
	color: #2b2b2b;
	font-weight: normal;
}

.TableStyle-GreyWhite-HeadC-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #2b2b2b;
	font-weight: normal;
	text-align: left;
	background-color: #f5f5f5;
}

.TableStyle-GreyWhite-HeadC-Regular-Header1 p
{
	color: #2b2b2b;
	font-weight: normal;
}

.TableStyle-GreyWhite-HeadB-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1.5px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #2b2b2b;
	font-weight: normal;
	text-align: left;
	background-color: #f5f5f5;
}

.TableStyle-GreyWhite-HeadB-Regular-Header1 p
{
	color: #2b2b2b;
	font-weight: normal;
}

.TableStyle-GreyWhite-HeadA-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #2b2b2b;
	font-weight: normal;
	text-align: left;
	background-color: #f5f5f5;
}

.TableStyle-GreyWhite-HeadA-Regular-Header1 p
{
	color: #2b2b2b;
	font-weight: normal;
}

.TableStyle-GreyWhite-HeadG-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #2b2b2b;
	font-weight: normal;
	text-align: left;
	background-color: #f5f5f5;
}

.TableStyle-GreyWhite-HeadG-Regular-Header1 p
{
	color: #2b2b2b;
	font-weight: normal;
}

.TableStyle-GreyWhite-Foot-Footer1
{
	
}

.TableStyle-GreyWhite-FootI-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #2b2a2a;
	font-weight: normal;
	background-color: #f5f5f5;
}

.TableStyle-GreyWhite-FootI-Regular-Footer1 p
{
	color: #2b2a2a;
	font-weight: normal;
}

.TableStyle-GreyWhite-FootE-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1.5px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #2b2a2a;
	font-weight: normal;
	background-color: #f5f5f5;
	border-top-width: 1.5px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-GreyWhite-FootE-Regular-Footer1 p
{
	color: #2b2a2a;
	font-weight: normal;
}

.TableStyle-GreyWhite-FootF-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #2b2a2a;
	font-weight: normal;
	background-color: #f5f5f5;
	border-top-width: 1.5px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-GreyWhite-FootF-Regular-Footer1 p
{
	color: #2b2a2a;
	font-weight: normal;
}

.TableStyle-GreyWhite-FootH-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1.5px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #2b2a2a;
	font-weight: normal;
	background-color: #f5f5f5;
}

.TableStyle-GreyWhite-FootH-Regular-Footer1 p
{
	color: #2b2a2a;
	font-weight: normal;
}

.TableStyle-GreyWhite-FootD-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #2b2a2a;
	font-weight: normal;
	background-color: #f5f5f5;
	border-top-width: 1.5px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-GreyWhite-FootD-Regular-Footer1 p
{
	color: #2b2a2a;
	font-weight: normal;
}

.TableStyle-GreyWhite-FootC-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #2b2a2a;
	font-weight: normal;
	background-color: #f5f5f5;
}

.TableStyle-GreyWhite-FootC-Regular-Footer1 p
{
	color: #2b2a2a;
	font-weight: normal;
}

.TableStyle-GreyWhite-FootB-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1.5px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #2b2a2a;
	font-weight: normal;
	background-color: #f5f5f5;
}

.TableStyle-GreyWhite-FootB-Regular-Footer1 p
{
	color: #2b2a2a;
	font-weight: normal;
}

.TableStyle-GreyWhite-FootA-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #2b2a2a;
	font-weight: normal;
	background-color: #f5f5f5;
}

.TableStyle-GreyWhite-FootA-Regular-Footer1 p
{
	color: #2b2a2a;
	font-weight: normal;
}

.TableStyle-GreyWhite-FootG-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #2b2a2a;
	font-weight: normal;
	background-color: #f5f5f5;
}

.TableStyle-GreyWhite-FootG-Regular-Footer1 p
{
	color: #2b2a2a;
	font-weight: normal;
}

.TableStyle-GreyWhite-Body-Row1
{
	
}

.TableStyle-GreyWhite-BodyI-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #2b2a2a;
	background-color: #ffffff;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-GreyWhite-BodyI-Regular-Row1 p
{
	color: #2b2a2a;
	font-weight: normal;
}

.TableStyle-GreyWhite-BodyE-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #2b2a2a;
	background-color: #ffffff;
	border-bottom-width: 1.5px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	font-weight: normal;
	border-right-width: 1.5px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-GreyWhite-BodyE-Regular-Row1 p
{
	color: #2b2a2a;
	font-weight: normal;
}

.TableStyle-GreyWhite-BodyF-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #2b2a2a;
	background-color: #ffffff;
	border-bottom-width: 1.5px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-GreyWhite-BodyF-Regular-Row1 p
{
	color: #2b2a2a;
	font-weight: normal;
}

.TableStyle-GreyWhite-BodyH-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #2b2a2a;
	background-color: #ffffff;
	font-weight: normal;
	border-right-width: 1.5px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-GreyWhite-BodyH-Regular-Row1 p
{
	color: #2b2a2a;
	font-weight: normal;
}

.TableStyle-GreyWhite-BodyD-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #2b2a2a;
	background-color: #ffffff;
	border-bottom-width: 1.5px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	font-weight: normal;
}

.TableStyle-GreyWhite-BodyD-Regular-Row1 p
{
	color: #2b2a2a;
	font-weight: normal;
}

.TableStyle-GreyWhite-BodyC-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #2b2a2a;
	background-color: #ffffff;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-GreyWhite-BodyC-Regular-Row1 p
{
	color: #2b2a2a;
	font-weight: normal;
}

.TableStyle-GreyWhite-BodyB-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #2b2a2a;
	background-color: #ffffff;
	font-weight: normal;
	border-right-width: 1.5px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-GreyWhite-BodyB-Regular-Row1 p
{
	color: #2b2a2a;
	font-weight: normal;
}

.TableStyle-GreyWhite-BodyA-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #2b2a2a;
	background-color: #ffffff;
	font-weight: normal;
}

.TableStyle-GreyWhite-BodyA-Regular-Row1 p
{
	color: #2b2a2a;
	font-weight: normal;
}

.TableStyle-GreyWhite-BodyG-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #2b2a2a;
	background-color: #ffffff;
	font-weight: normal;
}

.TableStyle-GreyWhite-BodyG-Regular-Row1 p
{
	color: #2b2a2a;
	font-weight: normal;
}


