/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		margin-left: 30px;
		margin-top: 14pt;
		margin-bottom: 20pt;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		text-align: left;
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	border-collapse: separate;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: Standard-RCS;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	max-id: 9;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	overflow: hidden;
	background-color: #8295a9;
	margin-left: 30px;
	margin-top: 16px;
	margin-bottom: 20px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0.5px;
	separator-color: #ffffff;
	name: Regular;
	id: 0;
}

mcTableColumnStyle
{
	span: 1;
	id: 8;
	name: DarkShade;
	type: Manual;
	background-color: #8798b3;
	separator-style: solid;
	separator-width: 0.5px;
	separator-color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0.5px;
	background-color: #2c97dd;
	name: Header1;
	id: 2;
	text-align: left;
	cell-padding-left: 20px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	color: #ffffff;
	font-weight: bold;
	separator-color: #ffffff;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0.5px;
	name: Row1;
	id: 1;
	background-color: #9bbcdd;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	text-align: left;
	separator-color: #ffffff;
	page-break-inside: avoid;
	cell-content-style-class: TableText;
	cell-content-style-tag: p;
}

mcTableBodyStyle
{
	span: 1;
	id: 9;
	name: Row2;
	background-color: #c2ccdc;
	cell-content-style-tag: p;
	separator-style: solid;
	separator-width: 0.5px;
	separator-color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-widte: 1px;
	separator-color: #ffffff;
	name: Footer1;
	id: 3;
	separator-width: 0.5px;
	cell-padding-left: 20px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	color: #ffffff;
	font-weight: bold;
	background-color: #8295a9;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-Standard-RCS
	{
		margin-left: 30px;
		margin-top: 14pt;
		margin-bottom: 20pt;
		border-spacing: 0px 0px;
	}

	.TableStyle-Standard-RCS-BodyI-Regular-Row2
	{
		text-align: left;
	}

	.TableStyle-Standard-RCS-BodyE-Regular-Row2
	{
		text-align: left;
	}

	.TableStyle-Standard-RCS-BodyF-Regular-Row2
	{
		text-align: left;
	}

	.TableStyle-Standard-RCS-BodyH-Regular-Row2
	{
		text-align: left;
	}

	.TableStyle-Standard-RCS-BodyD-Regular-Row2
	{
		text-align: left;
	}

	.TableStyle-Standard-RCS-BodyC-Regular-Row2
	{
		text-align: left;
	}

	.TableStyle-Standard-RCS-BodyB-Regular-Row2
	{
		text-align: left;
	}

	.TableStyle-Standard-RCS-BodyA-Regular-Row2
	{
		text-align: left;
	}

	.TableStyle-Standard-RCS-BodyG-Regular-Row2
	{
		text-align: left;
	}

	.TableStyle-Standard-RCS-BodyI-DarkShade-Row2
	{
		text-align: left;
	}

	.TableStyle-Standard-RCS-BodyE-DarkShade-Row2
	{
		text-align: left;
	}

	.TableStyle-Standard-RCS-BodyF-DarkShade-Row2
	{
		text-align: left;
	}

	.TableStyle-Standard-RCS-BodyH-DarkShade-Row2
	{
		text-align: left;
	}

	.TableStyle-Standard-RCS-BodyD-DarkShade-Row2
	{
		text-align: left;
	}

	.TableStyle-Standard-RCS-BodyC-DarkShade-Row2
	{
		text-align: left;
	}

	.TableStyle-Standard-RCS-BodyB-DarkShade-Row2
	{
		text-align: left;
	}

	.TableStyle-Standard-RCS-BodyA-DarkShade-Row2
	{
		text-align: left;
	}

	.TableStyle-Standard-RCS-BodyG-DarkShade-Row2
	{
		text-align: left;
	}
}

.TableStyle-Standard-RCS
{
	border-collapse: separate;
	overflow: hidden;
	background-color: #8295a9;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: 30px;
	margin-top: 16px;
	margin-bottom: 20px;
	border-spacing: 0px 0px;
}

.TableStyle-Standard-RCS-Column-Regular
{
	
}

.TableStyle-Standard-RCS-Column-DarkShade
{
	
}

.TableStyle-Standard-RCS-Head-Header1
{
	
}

.TableStyle-Standard-RCS-HeadI-Regular-Header1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: left;
	background-color: #2c97dd;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-HeadI-Regular-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-HeadE-Regular-Header1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: left;
	background-color: #2c97dd;
	padding-left: 20px;
	border-bottom-width: 0.5px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-RCS-HeadE-Regular-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-HeadF-Regular-Header1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: left;
	background-color: #2c97dd;
	padding-left: 20px;
	border-bottom-width: 0.5px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-RCS-HeadF-Regular-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-HeadH-Regular-Header1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: left;
	background-color: #2c97dd;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-HeadH-Regular-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-HeadD-Regular-Header1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: left;
	background-color: #2c97dd;
	padding-left: 20px;
	border-bottom-width: 0.5px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-RCS-HeadD-Regular-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-HeadC-Regular-Header1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: left;
	background-color: #2c97dd;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-HeadC-Regular-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-HeadB-Regular-Header1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: left;
	background-color: #2c97dd;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-HeadB-Regular-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-HeadA-Regular-Header1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: left;
	background-color: #2c97dd;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-HeadA-Regular-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-HeadG-Regular-Header1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: left;
	background-color: #2c97dd;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-HeadG-Regular-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-HeadI-DarkShade-Header1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: left;
	background-color: #2c97dd;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-HeadI-DarkShade-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-HeadE-DarkShade-Header1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: left;
	background-color: #2c97dd;
	padding-left: 20px;
	border-bottom-width: 0.5px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-RCS-HeadE-DarkShade-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-HeadF-DarkShade-Header1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: left;
	background-color: #2c97dd;
	padding-left: 20px;
	border-bottom-width: 0.5px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-RCS-HeadF-DarkShade-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-HeadH-DarkShade-Header1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: left;
	background-color: #2c97dd;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-HeadH-DarkShade-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-HeadD-DarkShade-Header1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: left;
	background-color: #2c97dd;
	padding-left: 20px;
	border-bottom-width: 0.5px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-RCS-HeadD-DarkShade-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-HeadC-DarkShade-Header1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: left;
	background-color: #2c97dd;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-HeadC-DarkShade-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-HeadB-DarkShade-Header1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: left;
	background-color: #2c97dd;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-HeadB-DarkShade-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-HeadA-DarkShade-Header1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: left;
	background-color: #2c97dd;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-HeadA-DarkShade-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-HeadG-DarkShade-Header1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	text-align: left;
	background-color: #2c97dd;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-HeadG-DarkShade-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-Foot-Footer1
{
	
}

.TableStyle-Standard-RCS-FootI-Regular-Footer1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	background-color: #8295a9;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-FootI-Regular-Footer1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-FootE-Regular-Footer1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	background-color: #8295a9;
	padding-left: 20px;
	border-top-width: 0.5px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Standard-RCS-FootE-Regular-Footer1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-FootF-Regular-Footer1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	background-color: #8295a9;
	padding-left: 20px;
	border-top-width: 0.5px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Standard-RCS-FootF-Regular-Footer1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-FootH-Regular-Footer1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	background-color: #8295a9;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-FootH-Regular-Footer1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-FootD-Regular-Footer1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	background-color: #8295a9;
	padding-left: 20px;
	border-top-width: 0.5px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Standard-RCS-FootD-Regular-Footer1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-FootC-Regular-Footer1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	background-color: #8295a9;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-FootC-Regular-Footer1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-FootB-Regular-Footer1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	background-color: #8295a9;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-FootB-Regular-Footer1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-FootA-Regular-Footer1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	background-color: #8295a9;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-FootA-Regular-Footer1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-FootG-Regular-Footer1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	background-color: #8295a9;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-FootG-Regular-Footer1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-FootI-DarkShade-Footer1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	background-color: #8295a9;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-FootI-DarkShade-Footer1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-FootE-DarkShade-Footer1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	background-color: #8295a9;
	padding-left: 20px;
	border-top-width: 0.5px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Standard-RCS-FootE-DarkShade-Footer1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-FootF-DarkShade-Footer1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	background-color: #8295a9;
	padding-left: 20px;
	border-top-width: 0.5px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Standard-RCS-FootF-DarkShade-Footer1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-FootH-DarkShade-Footer1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	background-color: #8295a9;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-FootH-DarkShade-Footer1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-FootD-DarkShade-Footer1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	background-color: #8295a9;
	padding-left: 20px;
	border-top-width: 0.5px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Standard-RCS-FootD-DarkShade-Footer1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-FootC-DarkShade-Footer1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	background-color: #8295a9;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-FootC-DarkShade-Footer1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-FootB-DarkShade-Footer1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	background-color: #8295a9;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-FootB-DarkShade-Footer1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-FootA-DarkShade-Footer1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	background-color: #8295a9;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-FootA-DarkShade-Footer1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-FootG-DarkShade-Footer1
{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
	background-color: #8295a9;
	padding-left: 20px;
}

.TableStyle-Standard-RCS-FootG-DarkShade-Footer1 p
{
	color: #ffffff;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	font-weight: bold;
}

.TableStyle-Standard-RCS-Body-Row1
{
	page-break-inside: avoid;
}

.TableStyle-Standard-RCS-BodyI-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	text-align: left;
	background-color: #9bbcdd;
}

.TableStyle-Standard-RCS-BodyI-Regular-Row1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyE-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	text-align: left;
	background-color: #9bbcdd;
	border-bottom-width: 0.5px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-RCS-BodyE-Regular-Row1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyF-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	text-align: left;
	background-color: #9bbcdd;
	border-bottom-width: 0.5px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-RCS-BodyF-Regular-Row1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyH-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	text-align: left;
	background-color: #9bbcdd;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-RCS-BodyH-Regular-Row1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyD-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	text-align: left;
	background-color: #9bbcdd;
	border-bottom-width: 0.5px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-RCS-BodyD-Regular-Row1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyC-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	text-align: left;
	background-color: #9bbcdd;
}

.TableStyle-Standard-RCS-BodyC-Regular-Row1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyB-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	text-align: left;
	background-color: #9bbcdd;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-RCS-BodyB-Regular-Row1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyA-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	text-align: left;
	background-color: #9bbcdd;
}

.TableStyle-Standard-RCS-BodyA-Regular-Row1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyG-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	text-align: left;
	background-color: #9bbcdd;
}

.TableStyle-Standard-RCS-BodyG-Regular-Row1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyI-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #8798b3;
}

.TableStyle-Standard-RCS-BodyI-DarkShade-Row1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyE-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	border-bottom-width: 0.5px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #8798b3;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-RCS-BodyE-DarkShade-Row1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyF-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	border-bottom-width: 0.5px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #8798b3;
}

.TableStyle-Standard-RCS-BodyF-DarkShade-Row1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyH-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #8798b3;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-RCS-BodyH-DarkShade-Row1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyD-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	border-bottom-width: 0.5px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #8798b3;
}

.TableStyle-Standard-RCS-BodyD-DarkShade-Row1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyC-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #8798b3;
}

.TableStyle-Standard-RCS-BodyC-DarkShade-Row1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyB-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #8798b3;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-RCS-BodyB-DarkShade-Row1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyA-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #8798b3;
}

.TableStyle-Standard-RCS-BodyA-DarkShade-Row1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyG-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #8798b3;
}

.TableStyle-Standard-RCS-BodyG-DarkShade-Row1 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-Body-Row2
{
	
}

.TableStyle-Standard-RCS-BodyI-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #c2ccdc;
}

.TableStyle-Standard-RCS-BodyI-Regular-Row2 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyE-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #c2ccdc;
	border-bottom-width: 0.5px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-RCS-BodyE-Regular-Row2 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyF-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #c2ccdc;
	border-bottom-width: 0.5px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-RCS-BodyF-Regular-Row2 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyH-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #c2ccdc;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-RCS-BodyH-Regular-Row2 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyD-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #c2ccdc;
	border-bottom-width: 0.5px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Standard-RCS-BodyD-Regular-Row2 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyC-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #c2ccdc;
}

.TableStyle-Standard-RCS-BodyC-Regular-Row2 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyB-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #c2ccdc;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-RCS-BodyB-Regular-Row2 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyA-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #c2ccdc;
}

.TableStyle-Standard-RCS-BodyA-Regular-Row2 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyG-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #c2ccdc;
}

.TableStyle-Standard-RCS-BodyG-Regular-Row2 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyI-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #8798b3;
}

.TableStyle-Standard-RCS-BodyI-DarkShade-Row2 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyE-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0.5px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #8798b3;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-RCS-BodyE-DarkShade-Row2 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyF-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0.5px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #8798b3;
}

.TableStyle-Standard-RCS-BodyF-DarkShade-Row2 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyH-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #8798b3;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-RCS-BodyH-DarkShade-Row2 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyD-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0.5px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #8798b3;
}

.TableStyle-Standard-RCS-BodyD-DarkShade-Row2 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyC-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #8798b3;
}

.TableStyle-Standard-RCS-BodyC-DarkShade-Row2 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyB-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #8798b3;
	border-right-width: 0.5px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Standard-RCS-BodyB-DarkShade-Row2 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyA-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #8798b3;
}

.TableStyle-Standard-RCS-BodyA-DarkShade-Row2 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}

.TableStyle-Standard-RCS-BodyG-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
	background-color: #8798b3;
}

.TableStyle-Standard-RCS-BodyG-DarkShade-Row2 p
{
	font-family: 'Open Sans', Calibri, 'font-family: ' Open Sans;
}


